In [1]:
# Getting the data ready 
import pandas as pd
taxi = pd.read_csv("Uber_Trips_NYC_2016.csv")
taxi

,Base License Number,Wave Number,Base Name,DBA,Years,Week Number,Pickup Start Date,Pickup End Date,Total Dispatched Trips,Unique Dispatched Vehicle
0,B02865,4,"VIER-NY,LLC",UBER-VIER-NY LLC,2016,40,9/25/2016,10/1/2016,4585,101
1,B02883,4,"SECHZEHN-NY, LLC","UBER-SECHZEHN-NY, LLC",2016,39,9/18/2016,9/24/2016,21336,515
2,B02765,1,GRUN LLC,UBER-GRUN LLC,2016,5,1/24/2016,1/30/2016,60767,1455
3,B02875,4,"SECHS-NY, LLC","UBER-SECHS-NY, LLC",2016,23,5/29/2016,6/4/2016,12094,279
4,B02865,4,"VIER-NY,LLC",UBER-VIER-NY LLC,2016,24,6/5/2016,6/11/2016,1141,26
...,...,...,...,...,...,...,...,...,...,...
1469,B02878,4,"ELF-NY,LLC","UBER-ELF-NY,LLC",2016,18,4/24/2016,4/30/2016,14627,331
1470,B02866,4,"ZWEI-NY,LLC",UBER-ZWEI-NY LLC,2016,11,3/6/2016,3/12/2016,2967,60
1471,B02883,4,"SECHZEHN-NY, LLC","UBER-SECHZEHN-NY, LLC",2016,7,2/7/2016,2/13/2016,5838,108
1472,B02764,1,"DANACH-NY,LLC","UBER-DANACH-NY,LLC",2016,50,12/4/2016,12/10/2016,366718,8538
1473,B02871,4,"ACHT-NY,LLC","UBER-ACHT-NY,LLC",2016,50,12/4/2016,12/10/2016,30456,582

In [2]:
taxi.dtypes

Base License Number          object
Wave Number                   int64
Base Name                    object
DBA                          object
Years                         int64
Week Number                   int64
Pickup Start Date            object
Pickup End Date              object
Total Dispatched Trips        int64
Unique Dispatched Vehicle     int64
dtype: object